:root {
    --lightgrey: #dbdbdb;
    --midgrey: #aaaaaa;
    --darkgrey: #808080;
    --extradark: #525252;
    --extraextradark: #333333;
}

/* Box sizing rules */
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
nav {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        -webkit-animation-duration: 0.01ms !important;
        animation-duration: 0.01ms !important;
        -webkit-animation-iteration-count: 1 !important;
        animation-iteration-count: 1 !important;
        -webkit-transition-duration: 0.01ms !important;
        -o-transition-duration: 0.01ms !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


li a {
    text-decoration: none;
    /* no underline */
}

li a:hover {}

ul,
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

button {
    cursor: pointer;
}

/*Reset-End*/

.main_nav {
    /*Positioning*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /*Box model*/
    height: 109px;
    width: 100%;
    border: 1px solid red;
    /*Typographic*/
    /*Visual*/
    background-color: var(--darkgrey);

    /*Misc*/
}

.logo {
    width: 212px;
    height: 77px;
    background-color: var(--extradark);
}

.main_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 60rem;
    height: 73px;
}

.main_links {
    display: block;
    width: 100px;
    height: 54px;
    background-color: var(--extradark);
    color: black;
}

.more_link {
    display: block;
    width: 100px;
    height: 58px;
    background-color: var(--extraextradark);
}

.label_search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 350px;
    height: 60px;
    border: 1px solid green;
    background-color: var(--extraextradark);
}

/*Sub-Nav*/
.sub_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 74px;
    background-color: var(--midgrey);
}

.sub_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    -webkit-box-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

.sub_item {
    width: 100px;
    height: 46px;
    background-color: var(--darkgrey);
}

.sub_links {
    color: black;
}

.jump_item {
    width: 150px;
    height: 46px;
    background-color: var(--lightgrey);
}